.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.p-fileupload-content {
  border-radius: 20px;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px dashed #ccc;
}

.p-button {
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.p-button[severity="danger"] {
  background-color: #ff4d4d;
  border-color: #ff4d4d;
  color: white;
}

.p-button[severity="danger"]:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}

img {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 2px;
}

.p-fileupload-empty {
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
}

.p-fileupload-empty i {
  color: #aaa;
  transition: color 0.2s;
}

.p-fileupload-empty:hover i {
  color: #666;
}

.p-fileupload-empty p {
  font-size: 1rem;
  color: #666;
}

.flex .card {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem;
  text-align: center
}

.flex .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

span.font-semibold {
  font-size: 0.9rem;
  font-weight: 600;
}
