.search-bar-container {
  border: .3rem solid #F78A51;
  border-radius: 25px;
}

.search-input {
  border: 3px solid #F78A51;
  background-color: #F8F9FA;
  outline: none;
}

.search-button {
  background-color: #F78A51;
  border: none;
  color: #F8F9FA;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #ff9f6a;
}

.p-inputtext {
  width: 100%;
  border: 3px solid #F78A51;
  background-color: #F8F9FA;
  outline: none;
}

.p-inputtext:enabled:focus, .p-inputtext:enabled:hover, .input-text:hover, .form-control:focus, .form-control:hover, .p-autocomplete:not(.p-disabled).p-focus .p-autocomplete-multiple-container {
  box-shadow: 0 0 0 0.2rem #ffa271;
  border-color: #F78A51;
}
