<app-navbar></app-navbar>

<div class="img-div">
  <img src="../../../../assets/createAuction.png" class="image" alt="createAuctionImage">
</div>

<div class="p-5">
  <div class="mb-5">
    <h1>Crea la tua asta!</h1>
    <p class="auction-description font-semibold w-50">
      Metti all'asta il servizio di cui hai bisogno e lascia che siano i professionisti a farsi avanti. Alla fine, sarai
      tu a scegliere il freelancer ideale per realizzare il tuo progetto.
    </p>
  </div>
</div>

<div class="purple-box">
  <div class="card-div p-5">
    <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
      <p-card>
        <h2>Dettagli asta</h2>
        <p-divider></p-divider>

        <div class="d-flex">
          <div class="flex flex-column gap-3">
            <div class="flex flex-column">
              <h3>Titolo *</h3>
              <input id="title"
                     placeholder="Inserisci un titolo all'asta"
                     formControlName="title"
                     class="textarea w-100"
                     variant="filled"
                     pInputText>
            </div>

            <div class="flex flex-column">
              <h3>Descrizione *</h3>
              <textarea id="description"
                        placeholder="Inserisci una descrizione del servizio richiesto"
                        formControlName="description"
                        class="textarea w-100"
                        variant="filled"
                        rows="5"
                        cols="30"
                        pInputTextarea
                        [autoResize]="false">
                </textarea>
            </div>

            <div class="d-flex flex-column justify-content-between">
              <h3>Macrocategoria *</h3>
              <p-dropdown id="macroCategory"
                          filterPlaceholder="Selenziona una macrocategoria"
                          emptyFilterMessage="Nessuna macrocategoria trovata"
                          class="w-50 mb-3"
                          variant="filled"
                          [options]="categories"
                          formControlName="macroCategory"
                          optionLabel="label"
                          [filter]="true"
                          filterBy="label"
                          [showClear]="true"
                          placeholder="Seleziona la macrocategoria"
                          (onChange)="onMacroCategoryChange($event.value)">
              </p-dropdown>

              <h3>Sottocategoria *</h3>
              <p-dropdown id="subCategory"
                          emptyFilterMessage="Nessuna sottocategoria trovata"
                          class="w-50 mb-3"
                          variant="filled"
                          [options]="filteredSubCategories"
                          formControlName="subCategory"
                          optionLabel="name"
                          [filter]="true"
                          filterBy="name"
                          [showClear]="true"
                          placeholder="Seleziona la sottocategoria">
              </p-dropdown>


            </div>
            <div class="flex gap-4">
              <div class="flex flex-column">
                <h3>Data di apertura asta *</h3>
                <p-calendar id="startAuctionDate"
                            formControlName="startAuctionDate"
                            [dateFormat]="'dd/mm/yy'"
                            [minDate]="minStartDate"
                            [showTime]="true"
                            [hourFormat]="'24'"
                            variant="filled"
                            placeholder="Seleziona la data e l'ora di inizio"
                            (onSelect)="onStartDateSelect($event)">
                </p-calendar>
              </div>

              <div class="flex flex-column">
                <h3>Data di chiusura asta *</h3>
                <p-calendar
                  id="endAuctionDate"
                  formControlName="endAuctionDate"
                  [dateFormat]="'dd/mm/yy'"
                  [minDate]="minEndDate"
                  [showTime]="true"
                  [hourFormat]="'24'"
                  variant="filled"
                  placeholder="Seleziona la data e l'ora di fine">
                </p-calendar>
              </div>

              <div class="flex flex-column">
                <h3>Data di consegna suggerita *</h3>
                <input id="deliveryDate"
                       type="number"
                       variant="filled"
                       [min]="1"
                       formControlName="deliveryDate"
                       placeholder="Inserisci il numero di giorni"
                       pInputText/>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <p-button label="Crea" type="submit" [disabled]="!auctionForm.valid"></p-button>
        </div>

      </p-card>
    </form>
  </div>
  <p-toast></p-toast>
</div>
