<app-navbar></app-navbar>

<div class="page p-4">
  <div class="ml-3 p-3">
    <div class="flex justify-content-between">
      <h1>{{ orderProduct.productName }}</h1>
      <p>Data di consegna stimata: {{ orderProduct.estimatedDeliveryDate }}</p>
    </div>

    <p>{{ orderProduct.descriptionForSeller }}</p>
  </div>

  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center mt-3 ml-3">
    </div>
  </div>

  <p-card class="answer">
    <p class="ml-3">Rispondi all'acquirente</p>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column w-50">
        <textarea
          [(ngModel)]="sellerDeliveryResponse"
          placeholder="Inserisci una descrizione e spiega le modalità di consegna"
          rows="5"
          cols="30"
          pInputTextarea
          [autoResize]="false">
           </textarea>
      </div>
    </div>

    <div class="d-flex justify-content-end gap-3">
      <div class="back-button d-flex justify-content-end mt-3">
        <p-button (click)="goToSellerOrderPage()" >Indietro</p-button>
      </div>
      <div class="done-button d-flex justify-content-end mt-3">
        <p-button (click)="deliveryResponse()">Invia</p-button>
      </div>
    </div>
  </p-card>
</div>
